@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #edeae1;
    
}

.particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

.particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

:root {
    --color-bg: #ebebeb;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.hello {
    width: fit-content;
    padding-top: 1rem;
    padding-left: 3rem;
}
.hello .typed1 {
    font-size: 75px;
    width: fit-content;
}

.hello .typed2 {
    font-size: 55px;
}

.typed1{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
      typing 1s steps(10, end) forwards,
      blink 1s infinite;
}

.typed2{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
      typing 2s steps(20, end) forwards,
      blink 1s infinite;
    animation-delay: 1s;
}

  @keyframes typing {
    from { width: 0 }
    to { width: 101% }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }